* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background-color: black;
    /* Цвет фона выделения */
    color: white;
    /* Цвет текста при выделении */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    border-bottom: 1px solid black;
    max-height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #F2F2F2;
    transition: transform 0.3s ease-in-out;
}
.header__logo img{
    max-width: 100px;
}
header.hide {
    transform: translateY(-101%);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 0px;
    max-width: 1312px;
}

.default_button {
    background-color: black;
    padding: 8px 20px;
    font-size: 16px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.default_button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.default_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.2),
            transparent);
    transition: 0.5s;
}

.default_button:hover::before {
    left: 100%;
}

.default_button.white {
    background-color: white;
    color: black;
}

.default_button.white:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.default_button.white::before {
    background: linear-gradient(120deg,
            transparent,
            rgba(0, 0, 0, 0.1),
            transparent);
}

.secondary_button {
    background-color: transparent;
    color: black;
    padding: 12px 24px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.secondary_button.white {
    color: white;
    border: 1px solid white;
}

.third_button {
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.third_button.white {
    color: white;
}

.third_button.white svg {
    fill: white;
}

.third_button span {
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.third_button svg {
    transition: transform 0.3s ease;
}

.third_button:hover span {
    transform: translateX(8px);
}

.third_button:hover svg {
    transform: translateX(20px);
}

.secondary_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transition: width 0.3s ease;
    z-index: -1;
}

.secondary_button.white::before {
    background-color: white;
}

.secondary_button:hover {
    color: white;
}

.secondary_button.white:hover {
    color: black;
}

.secondary_button:hover::before {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    margin-top: 72px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

section>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1312px;
    overflow: hidden;
    height: 100%;
}

.main__section {
    background-color: #F2F2F2;
    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
footer{
    background-color: #F2F2F2;
}
.footer_section_links{
    height: auto;
}
.footer_section_links__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 0px;
}
.footer_section_links__content .logo{
    max-width: 100px;
}
.footer_section_links__content .logo img{
    width: 100%;
}
.footer_section_links__content_up{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.footer_section_links__content_up__texts{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.semibold{
    font-weight: 600;
    font-size: 16px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: black;
}
.footer_section_links__content_down{
    display: flex;
    width: 100%;
    justify-content: space-between  ;
    align-items: center;
    margin-top: 32px;
}
.footer_section_links__content_down .links{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.white{
    color: white;
}
.steps__section {
    background-color: #D3D6CE;
}

.steps__section>div {
    padding: 112px 0px;
}
.footer_section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F2F2F2;
    height: auto;
}
.footer_section__content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 112px 0px;
    gap: 32px;
}
.footer_section__content__texts{
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.features__section {
    background-color: #F2F2F2;
    height: auto;
}

.features__section>div {
    padding: 112px 0px;
}

.features__section__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}


.features__section__block {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}

.features__section__block__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
}

.features__section__block__content.big {
    padding: 48px;
}

.features__section__block__content.small {
    padding: 24px;
}

.features__section__content__left_side {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.features__section__content__right_side {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.features__section__blocks {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

    margin-top: 80px;
}

.features__section__blocks__medium .features__section__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.features__section__blocks__medium .features__section__block .features__section__block__img {
    height: 340px;
}

.features__section__blocks__medium .features__section__block .features__section__block__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.features__section__blocks__medium .features__section__block .features__section__block__content.small{
    width: 100%;
}
.features__section__blocks__small {
    display: flex;
    gap: 32px;
    height: 100%;
}

.features__section__blocks__small .features__section__block {
    margin: 0 !important;
}

.features__section__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    text-align: center;
}

.features__section__title p {
    margin-bottom: 16px;
}

.features__section__title span {
    margin-top: 24px;
}

.features__section__block__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.features__section__block__img img {
    max-width: 100%;
    height: auto;
    display: block;
}

.steps_section__content_right_side {
    max-width: 616px;
    height: 100%;
}

.steps_section__content_right_side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main__section__content {
    width: 100%;
    max-width: 1312px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main__section__content__left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 576px;
    gap: 32px;
}

.main__section__content__left_side__texts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main__section__content .main__section__content__left_side .buttons .default_button {
    padding: 12px 24px;
}

.buttons {
    display: flex;
    gap: 16px;
}

.features__section__block__content__texts h5 {
    margin-bottom: 8px;
    margin-top: 16px;
}

h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 1.2;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

h5 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
}

p {
    font-size: 16px;
    font-weight: 600;
}

span.regular {
    font-size: 16px;
    font-weight: 400;
}

span.medium {
    font-size: 18px;
    font-weight: 500;
}

.steps__section__texts_ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.steps__section__texts_ul li {
    display: flex;
    align-items: center;
    gap: 16px;
}

.steps__section__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.steps_section__content_left_side__texts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 616px;
}

.steps_section__content_left_side__texts>span {
    margin-bottom: 32px;
}

.features__section__block__content__texts {
    margin-bottom: 32px;
}

.features__section__block__content__texts>h3 {
    margin-bottom: 24px;
}

@keyframes slideUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(calc(-340px * 5 - 16px * 4));
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideDownUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(calc(340px * 5 + 16px * 4));
    }

    100% {
        transform: translateY(0);
    }
}

.main__section__content__right_side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 335px;
    overflow: hidden;
}

.main__section__content__right_side__imgs {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 17px;
    overflow: hidden;
}

.main__section__content__right_side__imgs__slide {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    animation: 40s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.main__section__content__right_side__imgs__slide.left {
    animation-name: slideUpDown;
}

.main__section__content__right_side__imgs__slide.right {
    animation-name: slideDownUp;
}

.main__section__content__right_side__imgs__slide img {
    display: flex;
    width: 100%;
    max-width: 320px;
    height: 340px;
    min-height: 340px;
    background-color: gray;
    object-fit: cover;
}

@media (max-width: 1312px) {
    section {
        padding: 0px 64px;

    }

    .header__container {
        padding: 18px 64px;
    }

    .main__section__content .main__section__content__left_side {
        margin-right: 24px;
    }

    .features__section__blocks {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1024px) {

    .features__section__blocks__medium .features__section__block{
        flex-direction: column;
    }
    .main__section {
        height: calc(100vh - 72px);
        overflow: hidden;
    }

    .main__section__content {
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        height: 100%;
    }

    .steps__section__content {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .main__section__content__left_side {
        width: 100%;
        align-items: center;
    }

    .main__section__content__right_side {
        width: 100%;
        max-height: 40vh;
    }

    .main__section__content__left_side {
        margin-right: 0px !important;
        max-width: 657px !important;
    }

    .buttons {
        width: 100%;
        justify-content: space-around;
    }

    .buttons button {
        width: 100%;
    }

    .main__section__content__right_side__imgs {
        justify-content: center !important;
    }

    span.medium {
        font-size: 16px;
    }

    .steps_section__content_left_side__texts>span {
        margin-bottom: 20px;
    }

    .features__section__blocks__small {
        flex-direction: column;
    }

    .features__section__block__content__texts {
        margin-bottom: 20px;
    }

    .features__section__block__content__texts>h3 {
        margin-bottom: 20px;
    }

    .features__section__block__content.small .buttons {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 533px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h5 {
        font-size: 20px;
    }

    .buttons button {
        font-size: 12px;
    }
    .footer_section_links__content_down{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}

@media screen and (max-width:460px) {
    section {
        padding: 0px 20px;
    }

    .header__container {
        padding: 18px 20px;
    }
    .footer_section_links__content_up{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    
}

@media screen and (max-width: 291px) {
    section {
        padding: 18px 0px;
    }
}

.scroll-indicator {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.scroll-line {
    height: 100%;
    width: 0;
    background-color: black;
    transition: width 0.3s ease;
}